html {
  -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display:block
}

button,input,optgroup,select,textarea {
  color:inherit;font:inherit;margin:0
}

button {
  overflow:visible
}

button,select {
  text-transform:none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance:button;cursor:pointer
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border:0;padding:0
}

input {
  line-height:normal
}

textarea {
  overflow:auto
}




body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 100%;
  margin: 0;
}

a, a:visited {
  color: hsl(25, 75%, 60%);
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

header {
  width: 100%;
  padding: 0.5em;
  border-bottom: 3px solid black;
}

header img {
  height: 40px;
  border: 0;
}

header .info {
  margin-left: 1em;
  border-right: 1px solid hsl(25, 75%, 81%);
  padding-right: 1em;
}

header .info:last-child {
  border: none;
}

#container {
  margin: 1em;
}

#markdown-output, #json-input {
  border: 1px solid hsl(202, 88%, 71%);
  width: 90%;
}

#json-input {
  font-size: 70%;
  min-height: 10em;
}

#url-input {
  border: 1px solid hsl(202, 88%, 71%);
  width: 35%;
}

.error {
  background: hsl(25, 75%, 81%);
  width: 70%;
  margin: 1em 0;
  padding: 1em;
}

.hidden {
  display: none;
}

#markdown-output {
  padding: 0.5em;
  min-height: 20em;
  outline: none;
}
